{% extends "layout.html.twig" %}

{# --- page content --- #}

{% block content %}
<div class="pure-u-1">
    {#	{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} #}

    {{ form_start(form, {'attr': {'class' : 'pure-form pure-form-aligned' } }) }}
    <fieldset>
            <legend>Main definition</legend>
            {{ form_row(form.name) }}
            {{ form_row(form.displayName) }}
            {{ form_row(form.description) }}
            {{ form_row(form.author) }}
            {{ form_row(form.version) }}
            {{ form_row(form.tab) }}

            {{ form_row(form.need_instance) }}
            {{ form_row(form.has_config) }}
            {{ form_row(form.enable_disable) }}
            {{ form_row(form.install_uninstall_db) }}
    </fieldset>

    <fieldset id="hooks">
            <legend>Hooks</legend>
            {% for element in form.form %}
                {{ form_row(element) }}
            {% endfor %}
    </fieldset>

            {{ form_row(form.generate, {attr: {class : 'pure-button pure-button-primary'} }) }}

    {{ form_end(form) }}
</div>
{% endblock %}

{# --- customize form | http://symfony.com/doc/current/cookbook/form/form_customization.html#cookbook-form-theming-methods #}

    {% form_theme form _self %}

    {% block text_row %}
        <div class="pure-control-group">
            {% set type = type|default('text') %}
            {% if label is sameas(false) %}
                {% set label = label|humanize %}
            {% endif %}
            {% if attr.placeholder is not defined or attr.placeholder is empty %}
                {% set attr = attr|merge({'placeholder': name|humanize }) %}
            {% endif %}
            {{ block('form_label') }}
            {{ block('form_widget_simple') }}
        </div>
    {% endblock %}

    {% block choice_row %}
        <div class="pure-control-group">
            {% set type = type|default('choice') %}
            {% if label is empty %}
                {% set label = label|humanize %}
            {% endif %}
            {{ block('form_label') }}
            {{ block('choice_widget') }}
        </div>
    {% endblock %}
    
    {% block checkbox_row %}
        <div class="pure-controls">
            {% set type = type|default('checkbox') %}
            {% if label is empty %}
                {% set label = label|humanize %}
            {% endif %}
            {{ block('checkbox_widget') }}
            {{ block('form_label') }}
        </div>
    {% endblock %}
  