{% extends "layout.html.twig" %}
{% import _self as form %}

{# --- page content --- #}

{% block content %}
<div class="pure-u-1" data-ng-app>

    <form method="post" action="form" class="pure-form pure-form-aligned" data-ng-controller="formCtrl">
        <fieldset>
                <legend>Main definition</legend>
                {{ form.input('classname', classname , 'Module Class name') }} {#input(name, label, value, placeholder)#}
                {{ form.input('displayname', displayname, 'Display name') }}
                {{ form.input('description', description) }}
                {{ form.input('author', author) }}
                {{ form.input('version', version) }}
                {{ form.select('tab', 'tab', tabs) }}

                {{ form.checkbox('need_instance', 'Need instance') }}
                {{ form.checkbox('has_config', 'Admin page') }}
                {{ form.checkbox('enable_disable', 'Enable/Disable functions') }}
                {{ form.checkbox('install_uninstall_db', 'Install/Uninstall sql') }}
        </fieldset>

        <fieldset id="hooks">
                <legend>Hooks</legend>
                {% for hook in hooks %}
                    {{ form.checkbox('hooks[' ~  hook.name ~ ']', hook.name) }}
                {% endfor %}
        </fieldset>
        
        <input type="text" name="_token" ng-model="token" id="token" />
{#        {{token}}#}
        
        <button type="submit" id="form_generate" name="generate" class="pure-button pure-button-primary">Generate</button>

    </form>
</div>
{% endblock %}

{# macro to display form inputs, only 'name' is mandatory 
    @param name input name 
    @param label
    @param required (default = false)
    @param value
    @param placeholder
#}
{% macro input(name, value, label, required, placeholder) %}
    {% set label = label|default(name)|capitalize %}
    <div class="pure-control-group">
        <label for="{{ name }}" {% if required is not sameas(false) %}class="required"{% endif %} >{{ label }}</label>
        <input type="text" id="{{ name }}" name="{{ name }}" {% if required is not sameas(false) %}required="required"{% endif %} placeholder="{{ placeholder|default(label) }}" value="{{ value }}" />
    </div>
{% endmacro %}

{% macro select(name, label, values) %}
    <div class="pure-control-group">
        <label for="{{ name }}" {#class="required"#}>{{label}}</label>
        <select id="{{ name }}" name="{{ name }}">
            {% for name, label in values %}
                <option value="{{ name }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro checkbox(name, label) %}
    <div class="pure-controls">
        <input type="checkbox" id="{{ name }}" name="{{ name }}" />
        <label for="{{ name }}">{{ label }}</label>
    </div>
{% endmacro %}
